openapi: 3.1.0
info:
  title: Prosci Change Management ADKAR Assessments PCT Assessments API
  description: API for managing organizational change initiatives using Prosci's research-based change management methodology. Provides access to change projects, ADKAR assessments, PCT (Prosci Change Triangle) assessments, stakeholder analyses, change plans, and training resources.
  version: 1.0.0
  contact:
    name: Prosci Support
    email: support@prosci.com
    url: https://www.prosci.com/contact
  license:
    name: Proprietary
    url: https://www.prosci.com/terms
  termsOfService: https://www.prosci.com/terms
servers:
- url: https://api.prosci.com/v1
  description: Production server
security:
- bearerAuth: []
- apiKeyAuth: []
tags:
- name: PCT Assessments
  description: Evaluate change initiative health using the Prosci Change Triangle
paths:
  /projects/{projectId}/pct-assessments:
    get:
      operationId: listPctAssessments
      summary: Prosci List PCT assessments
      description: Retrieves Prosci Change Triangle (PCT) assessments for a project, evaluating Leadership/Sponsorship, Project Management, and Change Management dimensions.
      tags:
      - PCT Assessments
      parameters:
      - $ref: '#/components/parameters/projectIdParam'
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/offsetParam'
      responses:
        '200':
          description: A paginated list of PCT assessments
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PctAssessment'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: createPctAssessment
      summary: Prosci Create a PCT assessment
      description: Creates a new Prosci Change Triangle assessment for a project.
      tags:
      - PCT Assessments
      parameters:
      - $ref: '#/components/parameters/projectIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PctAssessmentCreate'
      responses:
        '201':
          description: PCT assessment created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PctAssessment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    limitParam:
      name: limit
      in: query
      description: Maximum number of items to return
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
    offsetParam:
      name: offset
      in: query
      description: Number of items to skip for pagination
      schema:
        type: integer
        minimum: 0
        default: 0
    projectIdParam:
      name: projectId
      in: path
      required: true
      description: Unique identifier for the change project
      schema:
        type: string
  schemas:
    PctDimensionInput:
      type: object
      properties:
        score:
          type: number
          format: float
          minimum: 1
          maximum: 5
        status:
          type: string
          enum:
          - on-track
          - at-risk
          - off-track
        notes:
          type: string
        findings:
          type: array
          items:
            type: string
      required:
      - score
      - status
    PctAssessment:
      type: object
      description: 'Assessment based on the Prosci Change Triangle (PCT) Model evaluating three critical aspects of change success: Leadership/Sponsorship, Project Management, and Change Management.'
      properties:
        id:
          type: string
          description: Unique identifier for the assessment
        projectId:
          type: string
          description: Identifier of the associated project
        assessmentDate:
          type: string
          format: date
          description: Date the assessment was conducted
        leadership:
          $ref: '#/components/schemas/PctDimension'
        projectManagement:
          $ref: '#/components/schemas/PctDimension'
        changeManagement:
          $ref: '#/components/schemas/PctDimension'
        overallHealth:
          type: string
          enum:
          - healthy
          - at-risk
          - critical
          description: Overall health of the change initiative
        recommendations:
          type: array
          items:
            type: string
          description: Recommended actions based on the assessment
        assessedBy:
          type: string
          description: Name of the person who conducted the assessment
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
      - id
      - projectId
      - assessmentDate
      - leadership
      - projectManagement
      - changeManagement
    PctDimension:
      type: object
      description: Score and details for a single PCT dimension
      properties:
        score:
          type: number
          format: float
          minimum: 1
          maximum: 5
          description: Score from 1 (weak) to 5 (strong)
        status:
          type: string
          enum:
          - on-track
          - at-risk
          - off-track
          description: Status indicator for this dimension
        notes:
          type: string
          description: Qualitative notes
        findings:
          type: array
          items:
            type: string
          description: Key findings for this dimension
      required:
      - score
      - status
    Pagination:
      type: object
      properties:
        total:
          type: integer
          description: Total number of items
        limit:
          type: integer
          description: Number of items per page
        offset:
          type: integer
          description: Current offset
        hasMore:
          type: boolean
          description: Whether more items are available
      required:
      - total
      - limit
      - offset
      - hasMore
    Error:
      type: object
      properties:
        code:
          type: string
          description: Machine-readable error code
        message:
          type: string
          description: Human-readable error message
        details:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string
          description: Detailed validation errors
      required:
      - code
      - message
    PctAssessmentCreate:
      type: object
      properties:
        assessmentDate:
          type: string
          format: date
        leadership:
          $ref: '#/components/schemas/PctDimensionInput'
        projectManagement:
          $ref: '#/components/schemas/PctDimensionInput'
        changeManagement:
          $ref: '#/components/schemas/PctDimensionInput'
        recommendations:
          type: array
          items:
            type: string
        assessedBy:
          type: string
      required:
      - assessmentDate
      - leadership
      - projectManagement
      - changeManagement
  responses:
    BadRequest:
      description: The request was invalid or malformed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Authentication credentials are missing or invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token obtained from the Prosci authentication endpoint.
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key provided by Prosci for application access.
