openapi: 3.1.0
info:
  title: Prosci Change Management ADKAR Assessments Organizations API
  description: API for managing organizational change initiatives using Prosci's research-based change management methodology. Provides access to change projects, ADKAR assessments, PCT (Prosci Change Triangle) assessments, stakeholder analyses, change plans, and training resources.
  version: 1.0.0
  contact:
    name: Prosci Support
    email: support@prosci.com
    url: https://www.prosci.com/contact
  license:
    name: Proprietary
    url: https://www.prosci.com/terms
  termsOfService: https://www.prosci.com/terms
servers:
- url: https://api.prosci.com/v1
  description: Production server
security:
- bearerAuth: []
- apiKeyAuth: []
tags:
- name: Organizations
  description: Organization-level change management maturity
paths:
  /organizations/{organizationId}/maturity:
    get:
      operationId: getOrganizationMaturity
      summary: Prosci Get change management maturity
      description: Retrieves the organization's change management maturity assessment, based on Prosci's Change Management Maturity Model.
      tags:
      - Organizations
      parameters:
      - name: organizationId
        in: path
        required: true
        description: Unique identifier for the organization
        schema:
          type: string
      responses:
        '200':
          description: The organization maturity assessment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaturityAssessment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    Unauthorized:
      description: Authentication credentials are missing or invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    MaturityDimension:
      type: object
      properties:
        level:
          type: integer
          minimum: 1
          maximum: 5
          description: Maturity level for this dimension
        description:
          type: string
          description: Description of current state
        gaps:
          type: array
          items:
            type: string
          description: Identified gaps
        actions:
          type: array
          items:
            type: string
          description: Recommended actions
      required:
      - level
    MaturityAssessment:
      type: object
      description: Assessment of an organization's change management maturity across five capability areas based on Prosci's Change Management Maturity Model.
      properties:
        id:
          type: string
          description: Unique identifier for the maturity assessment
        organizationId:
          type: string
          description: Identifier of the organization
        assessmentDate:
          type: string
          format: date
        overallLevel:
          type: integer
          minimum: 1
          maximum: 5
          description: Overall maturity level from 1 (ad hoc) to 5 (organizational competency)
        leadershipCompetency:
          $ref: '#/components/schemas/MaturityDimension'
        applicationCompetency:
          $ref: '#/components/schemas/MaturityDimension'
        competencyDevelopment:
          $ref: '#/components/schemas/MaturityDimension'
        standardization:
          $ref: '#/components/schemas/MaturityDimension'
        socialization:
          $ref: '#/components/schemas/MaturityDimension'
        recommendations:
          type: array
          items:
            type: string
          description: Recommendations for advancing maturity
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
      - id
      - organizationId
      - assessmentDate
      - overallLevel
    Error:
      type: object
      properties:
        code:
          type: string
          description: Machine-readable error code
        message:
          type: string
          description: Human-readable error message
        details:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string
          description: Detailed validation errors
      required:
      - code
      - message
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token obtained from the Prosci authentication endpoint.
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key provided by Prosci for application access.
